@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* fonts */

  /* COLORS */
  --color-search-placeholder: var(--search-placeholder);
  --color-chats-texts: var(--chats-texts);
  --color-time-texts: var(--time-texts);
  --color-input-background: var(--input-background);
  --color-background: var(--background);
  --color-side-background: var(--side-background);
  --color-active-green: var(--active-green);

  /* FONTS */
  --font-dm-sans: "DM Sans", sans-serif;

}

:root {
  --search-placeholder: #b6b6b6;
  --chats-texts: #e2e2e2;
  --time-texts: #8c8a8a;
  --background: #12171d;
  --side-background: #1e2126;
  --input-background: #16191c;
  --active-green:#34E449;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
} */
